.LoginForm {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.btn {
    margin-left: auto;
}

.errorMessage {
    position: absolute;
    bottom: -20px;
    left: 20px;
}