.Button {
    cursor: pointer;
    border-radius: 5px;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    padding: 10px 15px;
    background: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}