.app.dark {
    --bg-color: #182691;
    --inverted-bg-color: #e7e7e9;

    --primary-color: #05a11a;
    --inverted-primary-color: #050573;
    
    --secondary-color: #25dc3d;
    --inverted-secondary-color: #4b4ede;
}