.app.light {
    --bg-color: #e7e7e9;
    --inverted-bg-color: #182691;

    --primary-color: #050573;
    --inverted-primary-color: #05a11a;
    
    --secondary-color: #4b63de;
    --inverted-secondary-color: #4bdeb4;
}