.app_orange_theme {
    --bg-color: #d0831f;
    --inverted-bg-color: #fbf8f4;
    --primary-color: #fbf8f4;
    --secondary-color: #d0831f;
    --inverted-primary-color: #d0831f;
    --inverted-secondary-color: #fbf8f4;
}